<div class="search-section">
  <input type="text" [(ngModel)]="searchText" placeholder="search product ..."/>
</div>
<app-product [products$]="allProduct$"
             (scrollEvent)="onScroll()"
             [searchText]="searchText"
(addToFavouriteEvent)="addToFavourite($event)"></app-product>
<!--<div-->
<!--  style="height: 150px;overflow: scroll"-->
<!--  class="search-results"-->
<!--  infiniteScroll-->
<!--  [infiniteScrollDistance]="2"-->
<!--  [infiniteScrollThrottle]="500"-->
<!--  (scrolled)="onScroll()"-->
<!--  [scrollWindow]="false"-->
<!--&gt;-->
<!--<div *ngFor="let data of allProduct$ | async | filter : {label : searchText} ">-->
<!--  {{data?.label}}-->
<!--  <button *ngIf="!checkIsAlreadyLiked(data)" (click)="addToFavourite(data)">like</button>-->
<!--</div>-->
<!--</div>-->
