<div class="product-create">
  <div class="top">
    <h3>Product Create</h3>
    <div>
      <button (click)="navigateToList()">Back</button>
    </div>
  </div>
<div class="form-container">
<form [formGroup]="productForm" (submit)="saveProduct()">
  <div>
    <label>Product Label</label>
      <input type="text" formControlName="label" />
    <div *ngIf="labelField?.invalid && (labelField?.dirty || !labelField?.untouched)">
      <div *ngIf="labelField?.errors?.['required']" class="error-message">This is required Field</div>
      <div *ngIf="labelField?.errors?.['minLength']" class="error-message">Text length must be greater than 3</div>
    </div>
  </div>
  <div>
    <label>Product Price</label>
      <input type="text" formControlName="price"/>
    <div *ngIf="priceField?.invalid && (priceField?.dirty || !priceField?.untouched)">
      <div *ngIf="priceField?.errors?.['required']" class="error-message">This is required Field</div>
      <div *ngIf="priceField?.errors?.['invalidPrice']" class="error-message">Text must be valid price.</div>
    </div>
  </div>
  <div>
    <div>
    <button *ngIf="!productForm.get('id')?.value; else updateSection" type="submit">Save Product</button>
  <ng-template #updateSection>
    <button type="submit">Update Product</button>
  </ng-template>
    </div>
  </div>
</form>
</div>
</div>
