.form-container{
  display: flex;
  justify-content: center;
}
.form-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}
.form-container form > div{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

}

.form-container form div input{
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.form-container form div button{
  cursor: pointer;
  border-radius: 0.25rem;
  color: white;
  background: #1366D9;
  padding: 0.5rem 1rem;
}

.form-group{
  position: relative;
}


.errors{
  position: absolute;
  background: wheat;
  border-radius: 0.25rem;
  padding: 0.25rem;
  right: 0;
}
.error-message{
  color:red;
}
