<div
  class="card"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="500"
  (scrolled)="scrollFn()"
  [scrollWindow]="false"
>
  <div class="card-info" *ngFor="let data of products$ | async | filter : {label : searchText};let i=index; ">
    <div class="image-landscape">
      <img [ngSrc]="getRandomImage(i)" [alt]="data.label" fill priority />
    </div>
    <div class="info">
      <h1>    {{data?.label}}</h1>
      <p>{{data?.price}}</p>
    </div>
    <div class="favourite" (click)="addToFavourite(data)">
      <img *ngIf="(!checkIsAlreadyLiked(data) && !data?.checked) || (checkIsAlreadyLiked(data) && data?.checked); else checkSection" ngSrc="./assets/icons/favourite-uncheck.svg" alt="" height="24" width="24" />
   <ng-template #checkSection>
     <img ngSrc="./assets/icons/favourite-check.svg" alt="" height="24" width="24" />
   </ng-template>
    </div>
  </div>
</div>
