/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Inter';
  src: url('./assets/font/Inter/static/Inter-Regular.ttf') format('ttf'),
  url('./assets/font/Inter/static/Inter-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/font/Inter/static/Inter-Bold.ttf') format('ttf'),
  url('./assets/font/Inter/static/Inter-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}

*{
  font-family: 'Inter' , sans-serif;
}


.display-block{
  display: block;
  height: 100%;
}

.app-login-style{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.app-sidebar{
  display: flex;
  width: 250px;
}

/**
For admin panel
 */
.container{
  display: flex;
  flex-direction: row;
  height: 100%;
}


.container .main{
  flex-grow: 5;
}


.product-list,
.product-create{
  display: flex;
  flex-direction: column;
}

.product-list .top,
.product-create .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.product-list .top button,
.product-create .top button{
  cursor: pointer;
  color: white;
  background: #1570EF;
  padding: 0.25rem 0.5rem;
}

.search-section{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.search-section input{
  border-radius: 0.25rem;
  border:solid 1px #F0F1F3;
  padding: 0.5rem 0.75rem;
  width: 50%;
}




.image-landscape {
  position: relative;
  width: 100%;
  padding-top: calc(9/16*100%);
}

.image-landscape img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
}


